{% extends 'templates/base.twig' %}

{% set page_title = 'Iniciar sesión' %}
{% set page_meta_description = 'Inicia sesión y aprende ya a programar desde 0 con nuestros cursos' %}
{% set page_meta_robots = 'index, follow' %}

{% block body %}
    <div class="row mt-5">
        Hola desde la página de login
    </div>
{% endblock %}